/* General styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7f4f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: center;
}

h1 {
  color: #5f6f7e;
}

/* Input and button styles */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 75%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 16px;
  color: #5f6f7e;
}

button {
  padding: 10px 15px;
  background-color: #a3d9c5;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #8bc7ac;
}

/* Reminders list */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffefc3;
  color: #5f6f7e;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #ffdba8;
}

li .delete-btn {
  background-color: transparent;
  border: none;
  color: #ff6b6b;
  cursor: pointer;
  font-size: 18px;
}

li .delete-btn:hover {
  color: #ff4c4c;
}
